{% extends 'base.html' %}
{% block content %}
<!--- base.html 내부 구현부분 시작 --->
<div class='container'>
    <h5 class='my-3 border-bottom pb-2'> 질문등록 </h5>
    <form method='post' class='post-form my-3'>
        
        <!--- POST방식을 이용할때 이용하는 장고기본 미들웨이 --->
        {% csrf_token %}

        <!--- 오류표시 시작-->
        {% if form.errors %}
            <div class='alert alert-danger' role='alert'>
                {% for field in form %}
                    {% if field.errors %}
                        <strong>{{ field.label }}</strong>
                        {{ field.errors }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <!--- 오류표시 끝 --->

        <!--- 제목부분(만약 아무것도 입력안할시 None이 아니라 공백으로) --->
        <div class='form-group'>
            <label for='subject'>제목</label>
            <input type='text' class='form-control' name='subject' id='subject' value='{{ form.subject.value|default_if_none:"" }}'>
        </div>

        <!--- 내용부분(만약 아무것도 입력안할시 None이 아니라 공백으로) --->
        <div class='form-group'>
            <label for='content'>내용</label>
            <textarea class='form-control' name='content' id='content' rows='10'>{{ form.content.value|default_if_none:"" }}</textarea>
        </div>
        <button type='submit' class='btn btn-primary'> 저장하기 </button>
    </form>
</div>
{% endblock %}
<!--- base.html 내부 구협부분 끝 --->