{% extends 'base.html' %}
{% block content %}
<div class='container my-3'>
    <!-- 질문 제목-->
    <h2 class='border-bottom py-2'>{{ question.subject }}</h2>

    <div class='card my-3'>
        <div class='card-body'>
            <!-- 질문 내용 -->
            <div class='card-text' style='white-space: pre-line;'>{{ question.content }}</div>

            <div class='d-flex justify-content-end'>
                <!-- 질문 수정일 부분 -->
                {% if question.modify_date %}

                <!-- 질문 수정 일자 -->
                <div class='badge badge-light p-2 text-left mx-3'>
                    <div class='mb-2'>수정 일자</div>
                    <div>{{ question.modify_date }}</div>
                </div>
                {% endif %}

                <!-- 질문 작성 일자 -->
                <div class='badge badge-light p-2 text-left'>
                    <div class='mb-2'>{{ question.author.username }}</div>
                    <div>{{ question.create_date }}</div>
                </div>
            </div>

            <!-- 질문 작성자일 경우 수정/삭제 버튼 활성화-->
            {% if request.user == question.author %}
            <div class='my-3'>
                <a href='{% url "pybo:question_modify" question.id %}' class='btn btn-sm btn-outline-secondary'>수정</a>
                <a href='#' class='delete btn btn-sm btn-outline-secondary' data-uri='{% url "pybo:question_delete" question.id %}'>삭제</a>
            </div>
            {% endif %}
        </div>
    </div>

    <!-- 답변 표시 부분 -->
    <h5 class='border-bottom my-3 py-2'>{{ question.answer_set.count}}개의 답변이 있습니다.</h5>

    <!-- 해당 질문의 답변수 만큼 반복 -->
    {% for answer in question.answer_set.all %}
    <div class='card my-3'>
        <div class='card-body'>
            
            <!-- 답변의 내용 -->
            <div class='card-text' style='white-space: pre-line;'>{{ answer.content }}</div>
            <div class='d-flex justify-content-end'>

                <!-- 답변 수정 부분 -->
                {% if answer.modify_date %}

                <!-- 답변 수정 일자-->
                <div class='badge badge-light p-2 text-left mx-3'>
                    <div class='mb-2'>수정 일자</div>
                    <div>{{ answer.modify_date }}</div>
                </div>
                {% endif %}

                <div class='badge badge-light p-2 text-left'>
                    <!-- 답변 작성자 -->
                    <div class='mb-2'>{{ answer.author.username }}</div>
                    <!-- 답변 작성 일자 -->
                    <div>{{ answer.create_date }}</div>
                </div>
            </div>

            <!-- 답변 작성자 일경우 수정/삭제 버튼 활성화 -->
            {% if request.user == answer.author %}
            <div class='my-3'>
                <a href='{% url "pybo:answer_modify" answer.id %}' class='btn btn-sm btn-outline-secondary'>수정</a>
                <a href='#' class='delete btn btn-sm btn-outline-secondary' data-uri='{% url "pybo:answer_delete" answer.id %}'>삭제</a>
            </div>
            {% endif %}
        </div>
    </div>

    {% endfor %}
    <!-- 답변 작성 부분 -->
    <form action='{% url "pybo:answer_create" question.id %}' method='POST' class='my-3'>
        <!-- 'POST'방식 보안 토큰-->
        {% csrf_token %}
        <!-- 에러부분 -->
        {% if form.errors %}
            <div class='alert alert-danger' role='alert'>
                {% for field in form %}
                    {% if field.errors %}
                        <strong>{{ feild.label }}</strong>
                        {{ field.errors }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        <!-- 답변 textarea -->
        <div class='form-group'>
            <textarea {% if not user.is_authenticated %}disabled{% endif %}
            name='content' id='content' class='form-control' rows='10'>{% if not user.is_authenticated %}로그인 후 이용가능합니다.{% endif %}</textarea>
        </div>
        <input type='submit' value='답변등록' class='btn btn-primary'>
    </form>
</div>
{% endblock %}

<!-- 스크립트 생성부분 -->
{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $('.delete ').on('click', function(){
        if(confirm('정말로 삭제하시겠습니까?')){
            location.href = $(this).data('uri');
        }
    });
});
</script>
{% endblock %}