<!--- 네비게이션바 시작 --->
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <!--- Pybo라고 쓰여있는 localhost:8000/index로 가는 링크 --->
    <a class="navbar-brand" href="{% url 'pybo:index' %}">Pybo</a>
    <!--- 아이콘 이미지를 이용한 버튼 형식의 메뉴 네비게이션 --->
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--- 아직 구현전의 로그인 기능으로 넘어가는 링크(네비게이션 종속형태)--->
    <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" href="#">로그인</a>
            </li>
        </ul>
    </div>
</nav>
<!--- 네비게이션바 끝 --->